* {
    margin: 0;
    padding: 0;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background-color: rgb(61, 61, 61);
}

#input-info, #select-info, #validate-button {
    width: 270px;
    height: 35px;
    text-align: center;
    border: none;
    background-color: black;
    border-radius: 5px;
    font-size: 1.1em;
}

#validate-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}