html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 600px) {
    body {
        background-color: aquamarine;
        margin: 10px 25px;
    }

    p {
        line-height: 1.5em;
    }
  }

  