/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 1.2rem;
  }
  
  article {
  
  }
  
  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  img {
    max-width: 100%;
  }
  
  main {
  
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
  }
  
  figure {
    margin-bottom: 40px;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 768px) {
    body {
        background-color: tomato;
        font-size: 1.4rem;
        margin: 10px 40px;
    }

    figure {
        width: 35%;
    }
  }

  @media screen and (min-width: 992px) {
    body {
        background-color: blueviolet;
        font-size: 1.6rem;
        margin: 10px 60px;
        max-width: 1130px;
    }
  }